---
const jobs = [
  {
    where: "Kiiwa",
    what: "Managing Director",
    when: "March 2021 - Present",
  },
  {
    where: "SLTec",
    what: "Security Engineer",
    when: "January 2020 - Present",
  },
  {
    where: "Zero 7",
    what: "Consulting Technical Manager",
    when: "January 2020 - December 2021",
  },
  {
    where: "Monzo",
    what: "Financial Crime Specialist",
    when: "December 2018 - December 2020",
  },
];
---

<html
  lang="en"
  class="bg-isabelline font-mono text-jet dark:bg-jet dark:text-isabelline"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nathan Lindsay</title>
  </head>
  <body>
    <div class="p-6">
      <div class="mx-auto max-w-lg space-y-6">
        <header class="space-y-6 md:text-center">
          <h1 class="text-xl font-medium">Nathan Lindsay</h1>
          <p>
            I might do something with this website one day. Probably not though.
          </p>
        </header>

        <main class="flex gap-6 flex-col md:flex-row">
          <h2 class="flex-1 text-lg font-medium">Work</h2>

          <div class="space-y-6">
            {jobs.map(({ where, what, when }) => (
              <div>
                <h3 class="font-medium">{where}</h3>
                <p class="text-sm">{what}</p>
                <p class="italic text-sm">{when}</p>
              </div>
            ))}
          </div>

          <div class="flex-1"></div>
        </main>
      </div>
    </div>
  </body>
</html>
